@media (min-width: 1024px) {
  * {
    margin: 0%; }
  body {
    background-color: mintcream;
    font-family: 'Domine', serif; }
  .grids {
    display: grid;
    grid-template-areas: " header header header" " main main main " " main main main " " footer footer footer";
    grid-template-rows: 130px 1fr 2fr 300px;
    grid-template-columns: 30px 2fr 100px;
    align-items: stretch;
    justify-content: stretch;
    margin: 0%;
    height: 200vh;
    background-color: honeydew; }
  .escala {
    transition: all 1s ease-in-out;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: 0;
    height: 250px; }
  .escala:hover {
    transform: scale(1.3, 1.3); }
  .productos {
    margin: 3% 19% 0 19%;
    text-align: justify;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    font-size: 20px; }
  ul h4 {
    margin: 0 0 20px 0; }
  h3.index {
    background-color: #5f88a0;
    color: honeydew;
    text-align: center;
    padding: 7px;
    margin: 0 73% 0 2.7%; }
  header {
    padding-bottom: 3%;
    text-align: justify;
    position: sticky;
    top: 0;
    grid-area: header;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    background-image: linear-gradient(#5f88a0, #78bfc8); }
    header img {
      position: absolute;
      left: 16px;
      top: 9px;
      height: 100px;
      width: 200px; }
  main {
    grid-area: main; }
    main h1 {
      display: flex;
      text-align: center;
      justify-content: center;
      color: #5f88a0; }
    main aside {
      padding-bottom: 10px;
      margin-left: 80%;
      width: 150px;
      height: 0px; }
    main button {
      background-color: honeydew;
      color: honeydew;
      margin-left: 91%;
      margin-top: 16px; }
  footer {
    background-image: linear-gradient(#78bfc8, #5f88a0);
    text-align: center;
    color: honeydew;
    grid-area: footer;
    display: flex;
    flex-wrap: wrap;
    text-decoration: none; }
    footer div {
      text-align: left;
      flex: 2px;
      width: 100px;
      height: 240px;
      margin: 30px 40px 20px 20px;
      flex-basis: 10%;
      text-decoration: none; }
    footer ul li {
      display: block;
      color: honeydew;
      margin: 10px 0 10px 0; }
    footer ul a {
      text-decoration: none;
      color: honeydew; }
  section {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly; }
    section div {
      text-align: left;
      margin-bottom: 10%;
      margin-left: 10%;
      flex: 2px;
      width: 200px;
      height: 120px;
      padding-top: 10px;
      flex-basis: 10%; }
    section img {
      width: 200px;
      height: 200px;
      margin: 20px 20px 20px 20px; }
    section form {
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      justify-content: left;
      margin-right: 87%;
      margin-left: 5px; }
  nav {
    grid-area: nav;
    margin-left: 10%;
    margin-right: 10%;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 72px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center; }
    nav ul {
      list-style-type: none;
      overflow: hidden;
      padding: 0; }
    nav ul li {
      float: left;
      margin: 10px; }
    nav ul li a {
      display: inline-block;
      color: honeydew;
      text-decoration: none; }
    nav a {
      text-decoration: none; }
  section h2 {
    background-color: #5f88a0;
    color: honeydew;
    text-align: center;
    font-family: 'Domine', serif;
    margin: 3% 40% 3% 40%;
    text-align: center;
    padding: 7px;
    display: flex;
    flex-flow: column; }
  p {
    font-size: 15px;
    margin: 10px 0 10px;
    line-height: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: left; }
  .seccionProduc {
    display: flex; } }

@media (min-width: 600px) and (max-width: 1023px) {
  * {
    margin: 0%; }
  body {
    background-color: mintcream;
    font-family: 'Domine', serif; }
  .grids {
    display: grid;
    grid-template-areas: " header header header" " main main main " " main main main " " footer footer footer";
    grid-template-rows: 130px 1fr 2fr 400px;
    grid-template-columns: 30px 2fr 100px;
    align-items: stretch;
    justify-content: stretch;
    margin: 0%;
    height: 100vh;
    background-color: honeydew; }
  .escala {
    transition: all 1s ease-in-out;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: 0;
    height: 250px; }
  .escala:hover {
    transform: scale(1.3, 1.3); }
  .productos {
    margin: 3% 19% 0 19%;
    text-align: justify;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    font-size: 20px; }
  ul h4 {
    margin: 0 0 20px 0; }
  header {
    padding-bottom: 3%;
    text-align: justify;
    position: sticky;
    top: 0;
    grid-area: header;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    background-image: linear-gradient(#5f88a0, #78bfc8); }
    header img {
      position: absolute;
      left: 16px;
      top: 9px;
      height: 100px;
      width: 200px; }
  main {
    grid-area: main; }
    main h1 {
      display: flex;
      text-align: center;
      justify-content: center;
      color: #5f88a0; }
    main aside {
      padding-bottom: 10px;
      margin-left: 75%;
      width: 150px;
      height: 0px; }
    main button {
      background-color: honeydew;
      color: honeydew;
      margin-top: 14px;
      margin-left: 91%; }
  footer {
    background-image: linear-gradient(#78bfc8, #5f88a0);
    text-align: center;
    color: honeydew;
    grid-area: footer;
    display: flex;
    flex-wrap: wrap;
    text-decoration: none; }
    footer div {
      text-align: left;
      flex: 2px;
      width: 100px;
      height: 240px;
      margin: 30px 40px 20px 20px;
      flex-basis: 10%;
      text-decoration: none; }
    footer ul li {
      display: block;
      color: honeydew;
      margin: 10px 0 10px 0; }
    footer ul a {
      text-decoration: none; }
  section {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly; }
    section h2 {
      background-color: #5f88a0;
      color: honeydew;
      text-align: center;
      font-family: 'Domine', serif;
      margin: 3% 40% 3% 40%;
      text-align: center;
      padding: 7px;
      display: flex;
      flex-flow: column; }
    section div {
      text-align: left;
      margin-bottom: 10%;
      margin-left: 10%;
      flex: 2px;
      width: 200px;
      height: 120px;
      padding-top: 10px;
      flex-basis: 10%; }
    section img {
      width: 200px;
      height: 200px;
      margin: 20px 20px 20px 20px; }
  nav {
    grid-area: nav;
    margin-left: 10%;
    margin-right: 10%;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 72px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center; }
    nav ul {
      list-style-type: none;
      overflow: hidden;
      padding: 0; }
    nav ul li {
      float: left;
      margin: 10px; }
    nav ul li a {
      display: inline-block;
      color: honeydew;
      text-decoration: none; }
    nav a {
      text-decoration: none; }
  p {
    font-size: 15px;
    margin: 10px 0 10px;
    line-height: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: left; } }

@media (max-width: 599px) {
  * {
    margin: 0%; }
  body {
    background-color: mintcream;
    font-family: 'Domine', serif; }
  .grids {
    display: grid;
    grid-template-areas: " header header header" " main main main " " main main main " " footer footer footer";
    grid-template-rows: 230px 1fr 2fr 550px;
    grid-template-columns: 30px 2fr 100px;
    align-items: stretch;
    justify-content: stretch;
    margin: 0%;
    height: 150vh;
    background-color: honeydew; }
  .productos {
    margin: 3% 19% 0 19%;
    text-align: justify;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    font-size: 20px; }
  ul h4 {
    margin: 0 0 20px 0; }
  header {
    padding-bottom: 3%;
    text-align: justify;
    position: sticky;
    top: 0;
    grid-area: header;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    background-image: linear-gradient(#5f88a0, #78bfc8); }
    header img {
      position: absolute;
      left: 16px;
      top: 9px;
      height: 100px;
      width: 200px; }
  main {
    grid-area: main; }
    main h1 {
      display: flex;
      text-align: center;
      justify-content: center;
      color: #5f88a0; }
    main aside {
      padding-bottom: 10px;
      margin-left: 63%;
      margin-right: 0;
      width: 150px;
      height: 0px; }
    main button {
      background-color: honeydew;
      color: honeydew;
      margin-top: 15px;
      margin-left: 91%; }
  footer {
    background-image: linear-gradient(#78bfc8, #5f88a0);
    text-align: center;
    color: honeydew;
    grid-area: footer;
    display: flex;
    flex-wrap: wrap;
    text-decoration: none; }
    footer div {
      text-align: left;
      flex: 2px;
      width: 180px;
      height: 240px;
      margin: 30px 40px 20px 20px;
      flex-basis: 10%;
      text-decoration: none; }
    footer ul li {
      display: block;
      color: honeydew;
      margin: 10px 0 10px 0; }
    footer ul a {
      text-decoration: none; }
  section {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly; }
    section h2 {
      background-color: #5f88a0;
      color: honeydew;
      text-align: center;
      font-family: 'Domine', serif;
      margin: 3% 40% 3% 40%;
      text-align: center;
      padding: 7px;
      display: flex;
      flex-flow: column; }
    section div {
      text-align: left;
      margin-bottom: 10%;
      margin-left: 10%;
      flex: 2px;
      width: 200px;
      height: 120px;
      padding-top: 10px;
      flex-basis: 10%; }
    section img {
      width: 200px;
      height: 200px;
      margin: 20px 20px 20px 20px; }
  nav {
    grid-area: nav;
    padding-left: 60px;
    padding-right: 50px;
    padding-top: 132px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center; }
    nav ul {
      list-style-type: none;
      overflow: hidden;
      padding: 0; }
    nav ul li {
      float: left;
      margin: 10px; }
    nav ul li a {
      display: inline-block;
      color: honeydew;
      text-decoration: none; }
    nav a {
      text-decoration: none; }
  div iframe {
    margin: 10px 10px 10px 38px;
    width: 325px;
    height: 250px; }
  div a {
    color: honeydew; }
  p {
    font-size: 15px;
    margin: 10px 0 10px;
    line-height: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: left; } }
